{__NOLAYOUT__}
<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__STATIC__/admin/h-ui.admin/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/h-ui.admin/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/h-ui.admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="__STATIC__/admin/h-ui.admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>修改学生 - 学生管理 - H-ui.admin v3.1</title>
    <meta name="keywords" conten`t="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>

<body>
    <article class="page-container">
        <form class="form form-horizontal" id="form-admin-add" action="{:request()->action()}"
            onsubmit="return addsub()" method="post">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>班级：</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <select id="cid" name="cid" type="text" class="input-text">
                        <option value="{$data.cid}">{$data.cname}</option>
                        {volist name = "classes" id="vo"}
                        <option value="{$vo.cid}">{$vo.cname}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>学号：</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <input type="hidden" name="sid" value="{$data.sid}">
                    <input id="code" type="text" class="input-text" autocomplete="off" value="{$data.code}" name="scode">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>姓名：</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <input id="name" type="text" class="input-text" autocomplete="off" value="{$data.name}" name="sname">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-1"><span class="c-red">*</span>密码：</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <input id="password" type="password" class="input-text" autocomplete="off" value="{$data.password}"
                        name="password">
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-1">
                    <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                </div>
            </div>
        </form>
    </article>

    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="__STATIC__/admin/h-ui.admin/lib/jquery/1.9.1/jquery.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/h-ui.admin/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/h-ui.admin/js/H-ui.admin.js"></script>
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript"
        src="__STATIC__/admin/h-ui.admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript"
        src="__STATIC__/admin/h-ui.admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript"
        src="__STATIC__/admin/h-ui.admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
            });


        });
        function addsub() {

            var cid = $.trim($('#cid').val());
            var code = $.trim($('#code').val());
            var name = $.trim($('#name').val());
            var password = $.trim($('#password').val());
            
            if (cid == "0") {
                
                alert("您还没有选择班级哦");
                return false;
            }
            if (code == "") {
                alert("请输入学号");
                return false;
            }
            if (name == "") {
                alert("请输入姓名");
                return false;
            }
            if (password == "") {
                alert("密码不能为空");
                return false;
            }

        }
    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>

</html>